body{
    background-color: rgb(255, 255, 255);
}
.points{
    color:#000000;
}

* {
    box-sizing: border-box;
  }
  
  /* Create a two-column layout */
  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.card{
  height: 200px;
  width:  120px;
  margin: 5px;
  border-radius: 5px;
  border: solid rgb(0, 0, 0);
  background-color: white;
  display: inline;
  position: relative;
  animation-name: slide-left;
  animation-duration: 1s;
  animation-fill-mode: both;
  transition: all 0.3s;
}
.cardBack, .cardFront{
  height: 200px;
  width:  120px;
  margin: 5px;
  border-radius: 5px;
  background-color: white;
  border: solid black;
  display: inline-block;
  transition: transform 0.5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cardFront {
  transform: perspective(1000px) rotateY(180deg);
}
.cardFront.flipped {
  transform: perspective(1000px) rotateY(0deg);
}
.cardBack {
  transform: perspective(1000px) rotateY(0deg);
}
.cardBack.flipped {
  transform: perspective(1000px) rotateY(-180deg);
}
@media (max-width: 768px) {
  .card, .cardBack, .cardFront {
      height: 100px;  
      width: 60px;
      margin: 3px;
      border-radius: 2px;
  }
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {     
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
} 
